@import "./bootstrap.scss";

.module {
  background-color: #141414;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

.ad {
  background-color: #141414;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  height: 76px !important;
  text-align: center;
}