@import "./bootstrap.scss";
@import "./custom/scrollbar.scss";
@import "flag-icon-css/sass/flag-icon.scss";

.module {
  background-color: #141414;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

.ad {
  background-color: #141414;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  height: 76px !important;
  text-align: center;
}

.hr-light {
  border-top: 1px solid #1f1f1f;
}

.input-bg {
  background-color: #242323;
}